---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver%2C%2Bco&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      x-goog-maps-metro-area:
      - Denver, CO
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 08 Jun 2020 22:08:16 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPENWEATHER_API_KEY>&lat=39.7392358&lon=-104.990251&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.99,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1591654097,"sunrise":1591615917,"sunset":1591669595,"temp":77.23,"feels_like":67.08,"pressure":1002,"humidity":20,"dew_point":33.1,"uvi":10.93,"clouds":24,"wind_speed":11.97,"wind_deg":158,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"minutely":[{"dt":1591654140,"precipitation":0},{"dt":1591654200,"precipitation":0},{"dt":1591654260,"precipitation":0},{"dt":1591654320,"precipitation":0},{"dt":1591654380,"precipitation":0},{"dt":1591654440,"precipitation":0},{"dt":1591654500,"precipitation":0},{"dt":1591654560,"precipitation":0},{"dt":1591654620,"precipitation":0},{"dt":1591654680,"precipitation":0},{"dt":1591654740,"precipitation":0},{"dt":1591654800,"precipitation":0},{"dt":1591654860,"precipitation":0},{"dt":1591654920,"precipitation":0},{"dt":1591654980,"precipitati[...]
