---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPENWEATHER_API_KEY>&lat=39.7392358&lon=-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.99,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1591509936,"sunrise":1591529528,"sunset":1591583161,"temp":287.83,"feels_like":287.18,"pressure":996,"humidity":74,"dew_point":283.25,"uvi":10.74,"clouds":0,"wind_speed":1.03,"wind_deg":279,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"minutely":[{"dt":1591509960,"precipitation":0},{"dt":1591510020,"precipitation":0},{"dt":1591510080,"precipitation":0},{"dt":1591510140,"precipitation":0},{"dt":1591510200,"precipitation":0},{"dt":1591510260,"precipitation":0},{"dt":1591510320,"precipitation":0},{"dt":1591510380,"precipitation":0},{"dt":1591510440,"precipitation":0},{"dt":1591510500,"precipitation":0},{"dt":1591510560,"precipitation":0},{"dt":1591510620,"precipitation":0},{"dt":1591510680,"precipitation":0},{"dt":1591510740,"precipitation":0},{"dt":1591510800,"precipitati[...]
