---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=bQNwX7d4i88LClRnGGLju_qP4CF9H_vD3sb7WRjRokE&page=1&per_page=1&query=pueblo%2Cco
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      link:
      - <https://api.unsplash.com/search/photos?client_id=bQNwX7d4i88LClRnGGLju_qP4CF9H_vD3sb7WRjRokE&page=1397&per_page=1&query=pueblo%2Cco>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=bQNwX7d4i88LClRnGGLju_qP4CF9H_vD3sb7WRjRokE&page=2&per_page=1&query=pueblo%2Cco>;
        rel="next"
      x-total:
      - '1397'
      x-per-page:
      - '1'
      content-type:
      - application/json
      x-ratelimit-limit:
      - '50'
      x-ratelimit-remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":1397,"total_pages":1397,"results":[{"id":"TQW35fJAnAY","created_at":"2020-06-04T14:09:38-04:00","updated_at":"2020-06-05T09:21:30-04:00","promoted_at":null,"width":6000,"height":4000,"color":"#E9EDF0","description":"Protestors
        in Pueblo, Colorado rally in support of George Floyd on June 1, 2020.","alt_description":"people
        holding signage standing on sidewalk during daytime","urls":{"raw":"https://images.unsplash.com/photo-1591294071573-f0e27629d46c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjE0MDg5N30","full":"https://images.unsplash.com/photo-1591294071573-f0e27629d46c?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0MDg5N30","regular":"https://images.unsplash.com/photo-1591294071573-f0e27629d46c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjE0MDg5N30","small":"https://images.unsplash.com/photo-1591294071573-f0e27629d46c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0MDg5N30","thumb":"https://images.unsplash.com/photo-1591294071573-f0e27629d46c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE0MDg5N30"},"links":{"self":"https://api.unsplash.com/photos/TQW35fJAnAY","html":"https://unsplash.com/photos/TQW35fJAnAY","download":"https://unsplash.com/photos/TQW35fJAnAY/download","download_location":"https://api.unsplash.com/photos/TQW35fJAnAY/download"},"categories":[],"likes":6,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"pJ54VD5TdZE","updated_at":"2020-06-08T16:26:09-04:00","username":"johnmrodriguez","name":"John
        Rodriguez","first_name":"John","last_name":"Rodriguez","twitter_username":"johnmrod","portfolio_url":"http://pueblopulp.com","bio":"Publisher
        / owner of PULP Colorado. Capturing a better story of Colorado.","location":"Colorado","links":{"self":"https://api.unsplash.com/users/johnmrodriguez","html":"https://unsplash.com/@johnmrodriguez","photos":"https://api.unsplash.com/users/johnmrodriguez/photos","likes":"https://api.unsplash.com/users/johnmrodriguez/likes","portfolio":"https://api.unsplash.com/users/johnmrodriguez/portfolio","following":"https://api.unsplash.com/users/johnmrodriguez/following","followers":"https://api.unsplash.com/users/johnmrodriguez/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1591293935695-d0f05fa8d689image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1591293935695-d0f05fa8d689image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1591293935695-d0f05fa8d689image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"quartermonkey","total_collections":0,"total_likes":0,"total_photos":3,"accepted_tos":true},"tags":[{"type":"search","title":"human"},{"type":"landing_page","title":"person","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"people","pretty_slug":"People"}},"title":"People
        Images & Pictures","subtitle":"Download free people images","description":"Human
        faces speak to us in a way that language cannot. Everyone recognize a smile,
        a frown, tears. Unsplash has the finest selection of people images on the
        web: high-def and curated for quality. Family, friends, men, women, Unsplash
        has photos for all.","meta_title":"People Pictures [HQ] | Download Free Images
        on Unsplash","meta_description":"Choose from hundreds of free people pictures.
        Download HD people photos for free on Unsplash.","cover_photo":{"id":"PmNjS6b3XP4","created_at":"2017-04-20T18:04:07-04:00","updated_at":"2020-04-21T01:02:18-04:00","promoted_at":"2017-04-21T12:00:49-04:00","width":4630,"height":3087,"color":"#272D35","description":"Summer
        in France with baby","alt_description":"woman carrying baby while walking","urls":{"raw":"https://images.unsplash.com/photo-1492725764893-90b379c2b6e7?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1492725764893-90b379c2b6e7?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=sr[...]
