---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPENWEATHER_API_KEY>&lat=39.7392358&lon=-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.99,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1591504762,"sunrise":1591443141,"sunset":1591496726,"temp":289.69,"feels_like":289.22,"pressure":993,"humidity":62,"dew_point":282.39,"uvi":10.74,"clouds":0,"wind_speed":0.45,"wind_deg":203,"wind_gust":0.89,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"minutely":[{"dt":1591504800,"precipitation":0},{"dt":1591504860,"precipitation":0},{"dt":1591504920,"precipitation":0},{"dt":1591504980,"precipitation":0},{"dt":1591505040,"precipitation":0},{"dt":1591505100,"precipitation":0},{"dt":1591505160,"precipitation":0},{"dt":1591505220,"precipitation":0},{"dt":1591505280,"precipitation":0},{"dt":1591505340,"precipitation":0},{"dt":1591505400,"precipitation":0},{"dt":1591505460,"precipitation":0},{"dt":1591505520,"precipitation":0},{"dt":1591505580,"precipitation":0},{"dt":1591505640,"precipitati[...]
